.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog-box {
  color: black;
  border-style: solid;
  border-radius: 2px;
  background-color: rgb(235, 235, 235);
  padding-left: 4px;
  padding-right: 4px;
  width: fit-content;
  height: fit-content;

}

h1 {
  color: green;
}